<section class="bg-sky-100 dark:bg-dark-item shadow-lg shadow-slate-800 flex flex-col justify-center items-center rounded-lg border-4 border-brand dark:border-brand-dark w-44 h-64">
    <calcite-icon icon="plus-square" scale="l" class="h-12 w-12 mb-2"></calcite-icon>
    <p>Add Cards</p>
    <section class="p-2 w-full" id="input-focus-group">
        <calcite-input type="text" placeholder="Search Cards" id="card-search" {{on "input" this.manageBuffer}}/>
        <ResultList @results={{@searchResults}} @collection={{@collection}} @hasFocus={{@addCardFocused}} @createCard={{@createCard}} />
    </section>
    <label for="key-select" class="pb-2">Search By: </label>
    <calcite-select id="key-select" {{on "change" this.changeEvent}}>
        <calcite-option value="fname">Name</calcite-option>
        <calcite-option value="desc">Effect</calcite-option>
    </calcite-select>
</section>