<section class="bg-sky-100 dark:bg-slate-500 shadow-lg shadow-slate-800 flex flex-col justify-center items-center rounded-lg border-4 border-blue-500 w-44 h-64">
    <calcite-icon icon="plus-square" scale="l" class="h-12 w-12 mb-2 stroke-blue-500 dark:stroke-blue-300"></calcite-icon>
    <p>Add Cards</p>
    <section class="p-2 w-full" id="input-focus-group">
        <input type="text" placeholder="Search Cards" id="card-search" class="outline outline-1 outline-black dark:outline-none w-full text-center text-black rounded-lg" {{on "input" this.manageBuffer}}/>
        <ResultList @results={{this.cardData}} @collection={{@collection}} @controller={{@controller}} @hasFocus={{this.showingResults}}/>
    </section>
    <label for="key-select" class="pb-2">Search By: </label>
    <select id="key-select" class="p-1 outline outline-1 outline-black dark:outline-none text-black rounded-md" {{on "change" this.changeEvent}}>
        <option value="fname">Name</option>
        <option value="desc">Effect</option>
    </select>
</section>