<div class="card {{this.hasResultClass}}" id="card-{{@card.key}}" style={{verifyImage @card.images.image_url}} draggable="{{@drag}}" card-key="{{@card.key}}" {{on "dragstart" this.readyData}}>
    <button class="delete-item" type="button" {{on "click" this.deleteThis}}>X</button>
{{#if @search}}
    <h3>In: <a href="/collection/{{@card.location}}">{{titleCase @card.location}}</a></h3>
{{/if}}
</div>