<div class="collection" id="{{@collection}}">
    {{#if this.isNotSearch}}
        {{#if this.isNotUnsorted}}
            <UnsortCard />
        {{/if}}
        <CardForm @collection="{{@collection}}"></CardForm>
    {{/if}}
    {{#each @data as |item|}}
        <Card @search={{@search}} @drag={{this.isNotSearch}} @card={{item}}/>
    {{/each}}
</div>