<div class="collection" id="{{@collection}}">
    {{#if this.isNotSearch}}
        <div class="control-row">
            {{#if this.isNotUnsorted}}
                <UnsortCard />
            {{/if}}
            <DeleteCard />
            {{#if @displayform}}
                <CardForm @collection="{{@collection}}"></CardForm>
            {{/if}}
        </div>
    {{/if}}
    {{#each @data as |item|}}
        <Card @search={{@search}} @drag={{this.isNotSearch}} @card={{item}}/>
    {{/each}}
</div>