<section class="flex flex-wrap justify-around m-4 mb-56">
    {{#if this.isNotUnsorted}}
        <UnsortCard @handleDrop={{@handleDrop}} @preventDefault={{@preventDefault}} />
    {{/if}}
    <CardForm @collection="{{@collection}}" @createCard={{@createCard}} @addCardFocused={{@addCardFocused}} @searchResults={{@searchResults}} @searchAPI={{@searchAPI}}></CardForm>
    {{#each @data as |item|}}
        <Card @search={{@search}} @card={{item}} @removeCard={{@removeCard}} @startDrag={{@startDrag}} @preventDefault={{@preventDefault}} />
    {{/each}}
</section>