<section class="flex flex-wrap justify-around m-4 mb-56">
    {{#if this.isNotSearch}}
        {{#if this.isNotUnsorted}}
            <UnsortCard />
        {{/if}}
        <CardForm @collection="{{@collection}}" @controller={{@controller}}></CardForm>
    {{/if}}
    {{#each @data as |item|}}
        <Card @controller={{@controller}} @search={{@search}} @drag={{this.isNotSearch}} @card={{item}}/>
    {{/each}}
</section>