<a href="collection/{{@collection}}" class="button-holder z-0 relative dark:bg-dark-item shadow-lg shadow-shadow flex flex-col justify-center items-center rounded-lg border-4 border-brand dark:border-brand-dark p-2 w-44 h-44" destination="{{@collection}}" {{on "drop" this.handleDrop}} {{on "dragover" this.enableDrag}}>
    <calcite-fab class="close-button absolute top-2 right-2" icon='trash' color="red" scale="l" appearance="outline" {{action 'deleteThis' bubbles='false'}}></calcite-fab>
    <calcite-icon icon="inbox" scale="l" class="h-16 w-16 mb-2"></calcite-icon>
    <h3 class="text-xl">{{titleCase @collection}}</h3>
</a>