<section class="flex justify-center mt-8 w-full p-4">
    <calcite-input id="search-bar" icon="search" scale="l" class="w-full max-w-3xl" {{on "input" this.bufferInput}}/>
</section>

{{#if @emptyResult}}
    <p class="mt-4 w-full text-center text-xl italic">No cards found matching "{{@query}}"</p>
{{/if}}
<section class="flex flex-wrap justify-around m-4 mb-56">
{{#each @cardList as |item|}}
    <Card @search={{true}} @card={{item}} @removeCard={{@removeCard}} />
{{/each}}
</section>