<h1 class="w-full text-center text-5xl font-medium mt-4 mb-6">Your Cards</h1>
<h2 class="w-full text-center text-3xl my-6">Collections</h2>
<CollectionList @collections={{this.collections}} @createCollection={{this.createCollection}} @removeCollection={{this.openDeleteModal}} @handleDrop={{this.handleDrop}} @preventDefault={{this.preventDefault}} />
<calcite-modal aria-labelledby="modal-title" id="delete-modal" width="s" color="red">
    <div slot="header" id="modal-title">Confirm Delete</div>
    <div slot="content">Are you sure you want to delete {{this.toBeDeleted}}? Cards in this collection will be moved to Unsorted.</div>
    <calcite-button slot="secondary" width="full" appearance="outline" {{on 'click' this.closeModal}}>Cancel</calcite-button>
    <calcite-button slot="primary" width="full" color="red" {{on 'click' this.sendDeleteCollection}}>Delete</calcite-button>
</calcite-modal>
<h2 class="w-full text-center text-3xl my-6">Unsorted Cards</h2>
<Collection @collection="unsorted" @data={{this.cards}} @createCard={{this.createCard}} @removeCard={{this.removeCard}} @startDrag={{this.startDrag}} @preventDefault={{this.preventDefault}} @searchResults={{this.searchResults}} @addCardFocused={{this.addCardFocused}} @searchAPI={{this.searchAPI}} />