{{#if @model.locationFound}}
    <h1 class="centered">{{@model.collectionPrint}}</h1>
    <Collection user="" @collection="{{@model.collection}}" @data={{@model.cards}}></Collection>
{{else}}
    <p>Collection "{{@model.collectionPrint}}" not found</p>
{{/if}}